@charset "UTF-8";

form #vas-slider {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
form #vas-slider::before {
  content: " ";
  position: absolute;
  height: 2px;
  width: 100%;
  width: calc(100% * (10 / 11));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
}
form #vas-slider input, form #vas-slider label {
  box-sizing: border-box;
  flex: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
form #vas-slider label {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
form #vas-slider label::before {
  content: attr(data-vas-amount);
  position: absolute;
  left: 50%;
  padding-top: 10px;
  transform: translate(-50%, 45px);
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.85;
  transition: all 0.15s ease-in-out;
}
form #vas-slider label::after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
form #vas-slider label:hover::after {
  transform: translate(-50%, -50%) scale(1.25);
}
form #vas-slider input {
  display: none;
}
form #vas-slider input:checked + label::before {
  font-weight: 800;
  opacity: 1;
}
form #vas-slider input:checked + label::after {
  border-width: 4px;
  transform: translate(-50%, -50%) scale(0.75);
}
form #vas-slider input:checked ~ #vas-amount-pos {
  opacity: 1;
}
form #vas-slider input:checked:nth-child(1) ~ #vas-amount-pos {
  left: 5.2%;
}
form #vas-slider input:checked:nth-child(3) ~ #vas-amount-pos {
  left: 14.3%;
}
form #vas-slider input:checked:nth-child(5) ~ #vas-amount-pos {
  left: 23.3%;
}
form #vas-slider input:checked:nth-child(7) ~ #vas-amount-pos {
  left: 32.4%;
}
form #vas-slider input:checked:nth-child(9) ~ #vas-amount-pos {
  left: 41.5%;
}
form #vas-slider input:checked:nth-child(11) ~ #vas-amount-pos {
  left: 50.55%;
}
form #vas-slider input:checked:nth-child(13) ~ #vas-amount-pos {
  left: 59.71%;
}
form #vas-slider input:checked:nth-child(15) ~ #vas-amount-pos {
  left: 68.75%;
}
form #vas-slider input:checked:nth-child(17) ~ #vas-amount-pos {
  left: 77.83%;
}
form #vas-slider input:checked:nth-child(19) ~ #vas-amount-pos {
  left: 86.95%;
}
form #vas-slider input:checked:nth-child(21) ~ #vas-amount-pos {
  left: 96.2%;
}
form #vas-slider #vas-amount-pos {
  display: block;
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  opacity: 0;
  z-index: 2;
}
form:valid #vas-slider input + label::before {
  transform: translate(-50%, 45px) scale(0.9);
  transition: all 0.15s linear;
}
form:valid #vas-slider input:checked + label::before {
  transform: translate(-50%, 45px) scale(1.1);
  transition: all 0.15s linear;
}

